<form action="">

  <div class="input-group">
  <div>
    <label for="initial-investiment"><h2>Investimento inicial</h2></label>
    <input type="number" id="initial-investiment" />
  </div>

  <div>
    <label for="annual-investiment"><h2>Investimento anual</h2></label>
    <input type="number" id="annual-investiment" />
  </div>
  </div>

  
    

    <div class="input-group">
  <div>
  <label for="return-investiment"><h2>Expectativa de retorno</h2></label>
  <input type="number" id="return-investiment" />
  </div>
  <div>
  <label for="duration-investiment"><h2>Duração</h2></label>
  <input type="number" id="duration-investiment" />
  </div></div>
  <h3><button>Calcular</button></h3>
</form>
